*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  transition: var(--default-transition);
}

main{
  background-color: var(--color-100);
  min-height: 100dvh;
  display: flex;
  align-items: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* src/styles/variables.css */

  --color-50: #f6f6f6;
  --color-100: #e7e7e7;
  --color-200: #d1d1d1;
  --color-300: #b0b0b0;
  --color-400: #888888;
  --color-500: #6d6d6d;
  --color-600: #5d5d5d;
  --color-700: #4f4f4f;
  --color-800: #454545;
  --color-900: #3d3d3d;
  --color-950: #212121;

  --default-transition: .3s ease;
}

.center-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a{
  color: var(--color-950);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  
  padding: 8px;
  width: 160px;
  border-radius: 4px;

  &:hover{
    background-color: var(--color-400);
  }
}

